.DS_Testimonials {
    width: 100%;

    .DS_btnFilter {
        width: clamp(310px, 20.8vw, 386px); 
        padding: clamp(12px, 0.83vw, 14px);  
        background-color: var(--yb-color-dark-2);
        border: 1px solid var(--yb-color-dark-3);
        border-radius: 82px;
        display: flex;


        .DS_styleTest {
            padding-block: clamp(10px, 0.69vw, 14px); 
            padding-inline: clamp(18px, 1.25vw, 24px);
            background-color: var(--yb-color-dark-2); 
            color: var(--yb-color-white);
            border: none;
            font-family: Lexend;
            font-weight: var(--yb-font-weight-rg);
            font-size:clamp(var(--yb-font-size-body-sm), 0.97vw, var(--yb-font-size-body-lg)); 
            line-height: 1.5;
        }

        .DS_styleTest.active {
            padding-block: clamp(10px, 0.69vw, 14px); 
            padding-inline: clamp(18px, 0.24vw, 24px);
            background-color: var(--yb-color-primary); 
            color: var(--yb-color-dark-2);
            border: none;
        }
    }

    .DS_slider {
        max-width: 1980px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: relative;
        overflow: hidden;
    }


    .DS_testimonialsSlider {
        width:clamp(700px, 88vw, 1594px);
        padding-inline:clamp(63px, 6.40vw, 113px); 
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: clamp(60px, 4.17vw, 80px);
        flex-shrink: 0;
        transition: transform 0.4s ease-in-out;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 57%, rgba(0, 0, 0, 1) 43%, rgba(0, 0, 0, 0) 92%);
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        overflow: hidden;

        .DS_testimonialCard {
            width: clamp(193px, 22.5vw, 325px);
            height: auto;
            flex: 0 0 auto;
            box-sizing: border-box;
            display: flex;
            justify-content: start;
            overflow: hidden;
            gap: clamp(40px, 2.77vw, 50px);

            .DS_titleWrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                order: 2;
            }

            .DS_opinionText {
                font-size:clamp(var(--yb-font-size-body-md), 1.1vw, var(--yb-font-size-body-lg)); 
                order: 1;
                text-align: center;
                line-height: 1.5;
            }

            .DS_clientName {
                text-align: center;
                margin-top: 15px;
                font-family: Lexend;
                font-weight: var(--yb-font-weight-md);
                font-size:clamp(var(--yb-font-size-body-md), 1.1vw, var(--yb-font-size-body-lg)); 
                line-height: 1.5;
                color: var(--yb-color-primary);
            }

            .DS_quoteImageDiv {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;


                &::before,
                &::after {
                    content: "";
                    flex: 1;
                    height: 1px;
                    background-color:#414141;
                }
            }

            .DS_quoteIcon {
                width: clamp(44px, 3.05vw, 60px);
                height: auto;
                object-fit: contain;
            }
        }
    }

    .DS_arrows {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;

        .DS_Arrow{
            width: clamp(52px, 3.3vw, 62px); 
            height: clamp(52px, 3.3vw, 62px);
            color: var(--yb-color-primary);
            font-size: var(--yb-font-size-body-lg);
            border-radius: 100px;
            border: 1px solid var(--yb-color-dark-3);
            background-color: var(--yb-color-dark-2);
            display: flex;
            justify-content:center;
            align-items: center;

            .DS_FaArrow{
                font-size: clamp(24px, 1.9vw, 30px); 
            }

        }
    }

    .DS_Container {
        margin-bottom: clamp(80px, 5.55vw, 100px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:end;
        gap: 10px; 
    }

    .DS_SizeTitleDescription {
        width: clamp(350px, 56.1vw, 910px);
    }
}
.DS_SizeTitleDescription p{
    font-size: clamp(var( --yb-font-size-body-sm), 0.97vw, var(--yb-font-size-body-lg));
}

@media (max-width: 992px) {
    .DS_Testimonials {
        .DS_SizeTitleDescription {
            width: 100%;
        }
        .DS_Container {
            margin-bottom: 40px;
            flex-direction: column;
            align-items: center;
        }
        .DS_testimonialsSlider{
            max-width: 600px;
            width: 100%;
            padding: 0px;
            scroll-behavior: smooth;
            mask-image: none;
            border: 1px solid #414141;
            border-radius: 12px;



        .DS_testimonialCard {
            width: 100%;
            padding: 20px;
            /* border-radius: 12px; */
            /* border: 2px solid var(--yb-color-dark-3); */
            gap: 30px;
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 43%, rgba(0, 0, 0, 0) 92%);

        }
    }
        .DS_btnFilter {
        width: clamp(250px, 78vw, 310px); }
        
            .DS_opinionText {
                font-size: var(--yb-font-size-body-sm); 
                order: 1;
            }

        .DS_slider {
            flex-direction: column;
            align-items: center;
        }


        .DS_arrows {
            width:124px;
            position: static;     
            transform: none;       
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }
}

@media (min-width: 1441px) {
        .DS_Testimonials {
            .DS_testimonialsSlider{
        .DS_testimonialCard {
                width: clamp(300px, 22vw, 404px);}
            }
        }

}