.O-A-container{
    padding-left: var(--yb-spacing-x-md);
    padding-right: var(--yb-spacing-x-md);
    margin-bottom: var(--yb-spacing-y-md);
}
@media screen and (min-width:1441px) {
    .O-A-container{
        padding-left: var(--yb-spacing-x-lg);
        padding-right: var(--yb-spacing-x-lg);
        margin-bottom: var(--yb-spacing-y-lg);
    }
}
@media screen and (max-width:992px) {
    .O-A-container{
        padding-left: var(--yb-spacing-x-sm);
        padding-right: var(--yb-spacing-x-sm);
        margin-bottom: var(--yb-spacing-y-sm);
    }
}