.O-A-container {
  /* padding-left: var(--yb-spacing-x-lg);
    padding-right: var(--yb-spacing-x-lg); */
  padding-inline: clamp(80px, 9vw, 162px);
  margin-bottom: var(--yb-spacing-y-lg);
}
@media screen and (max-width: 1440px) {
  .O-A-container {
    padding-left: var(--yb-spacing-x-md);
    padding-right: var(--yb-spacing-x-md);
    margin-bottom: var(--yb-spacing-y-md);
  }
}
@media screen and (max-width: 992px) {
  .O-A-container {
    /* padding-left: 192px;
        padding-right: 192px; */
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: var(--yb-spacing-y-sm);
  }
}
@media screen and (max-width: 768px) {
  .O-A-container {
    /* padding-left: 120px;
        padding-right: 120px; */
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media screen and (max-width: 576px) {
  .O-A-container {
    padding-left: var(--yb-spacing-x-sm);
    padding-right: var(--yb-spacing-x-sm);
  }
}
