.O-A-continerLogIn{
    margin-top: 200px;
    padding-left: 285px;
    padding-right: 285px;
    .O-A-titleLogin{
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1440px) {
    .O-A-continerLogIn{
        margin-top: 153px;
        padding-left: 308px;
        padding-right: 308px;
        .O-A-titleLogin{
            margin-bottom: 60px;
        }
    }
}

@media screen and (max-width:992px) {
    .O-A-continerLogIn{
        margin-top: 138px;
        padding-left: 30px;
        padding-right: 30px;
        .O-A-titleLogin{
            margin-bottom: 40px;
        }
    }
}