.O-A-ourFeatures{
    .O-A-groupFeatures{
        margin-top: 32px;
        display: flex;
        gap: 20px;
        .O-A-box{
            padding: 40px;
            background: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .O-A-styleButton{
                width: 165px;
                height: 50px;
                background-color:var(--yb-color-dark-1); 
                color:var(--yb-color-white);
                border: 1px solid var(--yb-color-dark-3);
                cursor: pointer;
                &:hover{
                    color:var(--yb-color-primary);
                }
            } 

        }
        .O-A-containerCardFeatures{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
}




.O-A-headerCardFeatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.O-A-cardFeaturesStyle{
    max-width: 497px;
    padding: 40px;
    border: 1px solid var(--yb-color-dark-3);
    border-radius: 10px;
    svg{
        color: var(--yb-color-primary);
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover{
            font-size: 28px;
        }
    }
}

.O-A-titleCardFeatures{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.O-A-descriptionCardFeatures{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.6%;
    color: var(--yb-color-text-secondary);
}



@media screen and (max-width:992px) {
    .O-A-ourFeatures{
        .O-A-groupFeatures{
            flex-direction: column;
            align-items: center;
            .O-A-box{
                width: 366px;
                padding: 20px;
                flex-direction: row;
                overflow-x: auto;
                .O-A-styleButton{
                    flex-shrink: 0;
                }
            }
        }
    } 
    
    .O-A-cardFeaturesStyle{
        padding: 30px;
    } 

}