
.DS_TitleDescriptionJob{
    width: clamp(900px, 71.5vw, 1296px);
}
.DS_jobsContainer{
    margin-top: clamp(60px, 4.16vw, 80px);
    gap:clamp(17px, 1.38vw,30px);
        display: grid;
    grid-template-columns: repeat(2, 1fr);
}


@media (max-width: 992px) {
    .DS_TitleDescriptionJob{
    width: 100%;
    text-align: center;
}
.DS_jobsContainer{
    grid-template-columns: repeat(1, 1fr);
}
}