
    .DS_ColorLimeGreen{
        color:var(--yb-color-primary);
    }

    .DS_TitleDescription {
    display: flex;
    flex-direction: column;
    color: var(--yb-color-white);
    gap: clamp(10px, 0.79vw, 14px);
    }

    .DS_title {
        font-size: clamp(var(--yb-font-size-heading-md), 2.5vw, var(--yb-font-size-heading-lg));
        line-height: 1.5;
        word-break: break-word;
        font-weight:var(--yb-font-weight-md); 
    }

    .DS_description {
        font-size: clamp(var(--yb-font-size-body-md), 0.95vw, var(--yb-font-size-body-lg));
        color: var(--yb-color-text-tertiary);
        line-height: 1.5;
        word-break: break-word;
        font-weight: var(--yb-font-weight-lt); 
    }


    @media (max-width: 992px) {
    .DS_TitleDescription {
        gap: 8px;
    }

    .DS_title {
        font-size:var(--yb-font-size-heading-sm); 
    }

    .DS_description {
        font-size: var(--yb-font-size-body-sm);
    }
    }