.DS_ContainerCardNews{
    margin-top: clamp(40px, 4.17vw, 80px);
    gap: clamp(20px, 1.6vw, 40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.DS_NewsCard{
    /* width: clamp(400px, 43.7vw, 783px); */
    padding:clamp(20px, 1.66vw, 30px);
    background-color: var(--yb-color-dark-2);
    border: 1px solid var(--yb-color-dark-3);
    border-radius: 40px 40px 16px 16px;
    display: flex;
    justify-content: start;
}
.DS_NewsCardImg{
    width: 100%;
    min-height: 207px;
    margin-bottom:clamp(30px, 2.77vw, 51px);
    border-radius: 30px 30px 12px 12px;
}

.DS_NewsCardTitle{
    margin-bottom:clamp(10px, 0.97vw, 20px);
    font-family: var(--yb-font-family-primary);
    font-weight: var(--yb-font-weight-rg);
    font-size:clamp(var(--yb-font-size-title-sm), 1.40vw, var(--yb-font-size-title-lg));
    line-height: 1.5;
    color: var(--yb-color-white);
}
.DS_LocationNewsCard , .DS_DateNewsCard{
    width: fit-content;
    margin-right: 10px;
    padding: clamp(6px, 0.41vw, 8px) clamp(10px, 0.97vw, 16px) ;
    color: var(--yb-color-text-secondary);
    background-color: var(--yb-color-dark-1);
    border: 1px solid var(--yb-color-dark-3);
    border-radius: 68px;
    font-family: var(--yb-font-family-primary);
    font-weight: var(--yb-font-weight-lt);
    font-size: clamp(var(--yb-font-size-body-sm), 1.11vw, var(--yb-font-size-body-lg));
    line-height:1.5;
}
.DS_NewsCardDesc{
    margin-top:clamp(24px, 1.6vw, 30px);
    font-family: var(--yb-font-family-primary);
    font-weight: var(--yb-font-weight-lt);
    font-size: clamp(var(--yb-font-size-body-sm), 1.11vw, var(--yb-font-size-body-lg));
    line-height: 1.5;
    color: var(--yb-color-text-secondary);
}
.DS_NewsCardDesc, .DS_LocationDate,.DS_NewsCardTitle{
    padding:0px clamp(20px, 1.5vw, 30px);
}
@media screen and (max-width: 992px) {
    .DS_TitleDescPress{
        width: 98%;
    }

    .DS_ContainerCardNews{
    grid-template-columns: repeat(1, 1fr);
}
.DS_NewsCard{
    width: 100%;
}
.DS_NewsCardDesc, .DS_LocationDate,.DS_NewsCardTitle{
    padding:0px;
}
}